* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-font: Roboto;
    --secondary-font: Arial,
        Helvetica,
        sans-serif;
}
body{
    font-family: var(--primary-font);
    background-color: #F5F7FA;
}

/*Styling the header*/

header {
    padding: 10px;
    margin: .5rem;
    display: grid;
    gap: 10px;
    grid-template-columns: 80px auto;
    border-bottom: 2px solid #161c30;

    & img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 5px;

    }

    & span {
        font-size: 1rem;
        color: #161c30;

    }

    @media screen and (min-width: 32rem) {
        grid-template-columns: 160px auto;

        & span {
            font-size: 2rem;
            padding: 10px;
        }
    }
}
/*Styling the main tag*/

.main-hero {

    width: 90%;
    margin: 0 auto;
    & h1 {
        font-size: 1rem;
        color: #161c30;
        padding: 1rem;
    }

    @media screen and (min-width: 32rem) {
        & h1 {
            font-size: 7rem;
            color: #161c30;
            padding: 1rem;
        }
    }
}
/*Styling to direct to movies*/
.btn{
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    margin: 1rem;
    border: 2px solid green;
    color: green;

    &:hover {
        cursor: pointer;
        background-color: green;
        color: white;
        animation: pulse 2s ease-in-out infinite;
    }

}
@keyframes pulse {

    0%,
    100% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }
}

/*style the cards*/

#cards{
    padding: 10px;
    display: grid;
    gap: 10px;
    
    @media screen and (min-width: 32rem) {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
}

.movie{
    border: 1px solid grey;
    background-color: #161c30;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    position: relative;

    & h3{
        padding: 10px;
        color: white;
    }
    
}
/*Style the modal for each movie*/

#movieBox{
    width: 320px;
    margin: 1rem auto;
    padding: 10px;
    border-radius: 10px;

   & img{
        display: block;
        margin: 0 auto;
   }

    & h3{
        padding: 10px;
        text-align: center;
        border-bottom: 2px solid grey;
        margin-bottom: 1rem;
    }

    & p{
        padding: 10px;
    }

    & a{
        margin: 10px;
        font-size: 1.2rem;
    }
}
#closeModal{
    font-size: 2rem;
    border: none;
    background: none;
    right: 5px;
    top: 5px;
    cursor: pointer;

}

#favorite{
    display: block;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;

    cursor: pointer;

    &:hover{
        background-color: #161c30;
        color: white;
    }

}
#removefav{
    font-size: 1.5rem;
    background: none;
    border: none;
    position: absolute;
    right: 3px;
    top: 3px;   
    display: block;
    margin: 10px;
    cursor: pointer;
}

/*Style the footer*/
footer{
    padding: 10px;
    background-color: #252525;
    & p {
        font-size: 1.2rem;
        color: white;
    
        }
} 